.idea/*
*.pdb
*.fa
*.csv
*.pdf
*.pkl
*.bson
*.x3d
*.ipynb_checkpoints
*.ipynb
*.jar
__main__.py
__pycache__/
*.pyc
/*.json
config/
crash-reports/
eula.txt
libraries/
logs/
try1/
/.*
.DS_Store
server.properties