.idea/*
*.pdb
*.fa
*.csv
*.pdf
*.json
chp/
json/
chp/
shp/
*.ipynb_checkpoints
*.ipynb
__init__.py
__main__.py
__pycache__/
*.pyc

cellcraft/__pycache__/
cellcraft/*.pyc
cellcraft/usage.py
cellcraft/errorcheck.py
cellcraft/data/
__init__
cellcraft/plot.py
cellcraft/protein_2.py
cellcraft/item_2.py
cellcraft/envelope_2.py