.idea/*
*.pdb
*.fa
*.csv
*.pdf
*.pkl
*.bson
*.x3d
*.ipynb_checkpoints
*.ipynb
*.jar
__main__.py
__pycache__/
*.pyc
banned-ips.json
banned-players.json
ops.json
usercache.json
usernamecache.json
whitelist.json
config/
crash-reports/
eula.txt
libraries/
logs/
try1/
/.*
.DS_Store
server.properties